.contact-section{
    width: 63%;
    background-color: white;
    border-radius: 20px;
}
.contact-me{
    row-gap: 50px;
    padding: 50px;
}
.contact-area{
    padding: 40px;
    background: rgb(240, 240, 241);
    border-radius: 15px;
}
form{
    row-gap: 30px;
}
.contact-me .heading h1::after{
    content: "";
    position: absolute;
    top: -50%;
    left: 30%;
    height: 100px;
    width: 4px;
    background-color: rgb(28, 149, 247);
    transform: rotate(90deg);
}
.inputfield input,textarea{
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
    background: rgb(240, 243, 245);
    padding: 10px 20px 10px 0;
    font-size: 15px;
}
.submit-btn button{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 18px;
    border: 0;
    outline: none;
    border: 1px solid black;
    transition: all ease 0.3s;
  }
  .submit-btn button:hover {
    transform: translate();
    background-color: rgb(28, 149, 247);
    border: 1px solid rgb(28, 149, 247);
    color: white;
  }
  .dark-theme-contact{
    background-color: black;
  }
  .dark-theme-contact .contact-area{
    background-color: rgb(47, 46, 46);
    color: rgb(187, 187, 187);
  }
  .dark-theme-contact .inputfield input{
    background-color: rgb(47, 46, 46);
  }
  .dark-theme-contact textarea{
    background-color: rgb(47, 46, 46);
  }
  .dark-theme-contact .footer{
    background-color: rgb(47, 46, 46);
    color: rgb(187, 187, 187);
  }
  .dark-theme-contact .heading h1{
    color: white;
  }
  .dark-theme-contact .submit-btn button{
    background-color: rgb(28, 149, 247);
    border-color: rgb(28, 149, 247);
    color: white;
    outline: none;
  }
  .dark-theme-contact .submit-btn button:hover{
    background-color: white;
    border: 1px solid rgb(28, 149, 247);
    color: black;

  }

  @media (max-width: 800px){
    .contact-section{
      width: 100%;
    }
    .heading{
      font-size: 20px;
    }
    .contact-me{
      row-gap: 40px;
      padding: 20px;
  }
  .contact-me .heading h1::after{
    left: 80%;
  }
  }
