.resume-section{
    width: 63%;
    background-color: white;
    border-radius: 20px;
}
.resume-me{
    padding: 50px;
    row-gap: 50px;
}
.education{
    width:48%;
    row-gap: 30px;
}
.about-education{
    row-gap: 25px;
}
.icon-exp{
    font-size: 30px;
    color: rgb(154, 231, 30);
}
.icon-edu{
    font-size: 30px;
    color: rgb(252, 59, 81);
}
.icon-skill{
    font-size: 30px;
    color: rgb(120, 60, 175);
}
.experience{
    width:48%;
    row-gap: 30px;
}
.edu-card, .exp-card{
    padding: 15px 20px;
    row-gap: 14px;
}
.duration p{
    font-size: 14px;
    color: rgb(119, 119, 135);
}
.course-name, .field-name{
    font-size: 18px;
    font-weight: 500;
}
.resume-me .heading h1::after{
    content: "";
    position: absolute;
    top: -45%;
    left: 32%;
    height: 100px;
    width: 4px;
    background-color: rgb(28, 149, 247);
    transform: rotate(90deg);
}
.edu-col-1{
    background-color: #fef0f7;
}
.edu-col-2{
    background-color: rgb(232, 242, 252);
}
.edu-col-3{
    background-color: #fef0f7;
}

.exp-col-1{
    background-color: rgb(232, 242, 252);
}
.collage-name, .org-name{
    font-size: 15.5px;
    color: rgb(119, 119, 135);
}
.skills{
    width: 100%;
}
.skill-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.skill-col{
    width: 100%;
    min-height: 100px;
    /* border: 1px solid black; */
    border-radius: 10px;
}
.skill-row .col1{
    border: 3px solid #fef0f7;
}
.skill-row .col2{
    border: 3px solid rgb(232, 242, 252);
}
.skill-row .col3{
    border: 3px solid #fef0f7;
}
.skill-row h2{
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
}
.skill-col .skill ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
}
.skill-col .skill ul li{
    padding: 6px 10px;
    font-weight: bold;
    background-color: #eeeeee;
    margin-right: 15px;
    margin-bottom: 12px;
    border-radius: 15px;
    font-size: 13px;
}

/* Dark Theme */
.dark-theme{
    background-color: black;
    color: white;
}
.dark-theme .edu-card{
    background-color: rgb(47, 46, 46);
}
.dark-theme .exp-card{
    background-color: rgb(47, 46, 46);
}
.dark-theme .duration p,.collage-name,.org-name{
    color: rgb(187, 187, 187);
}
.dark-theme .skill{
    background: rgb(47, 46, 46);
    color: rgb(187, 187, 187);
    border-radius: 10px;
}
.dark-theme .knowledge-skills{
    flex-direction: column;
}
.dark-theme .skills{
    width: 100%;
}
.dark-theme .skill-col{
    border: 0;
}
.dark-theme .skill-col .skill ul li{
    background-color: rgb(47, 46, 46);
}
@media (max-width: 1200px){
    .resume-section{
        width: 100%;
    }
}

@media (max-width: 800px){
    .skill-row{
        flex-direction: column;
        row-gap: 30px;
        align-items: start;
    }
    .resume-section{
        width: 100%;
    }
    .educ-expe{
        flex-direction: column;
        row-gap: 50px;
        margin-bottom: 40px;
    }
    .heading h1{
        font-size: 32px;
    }
    .resume-me .heading h1::after{
        top: -80%;
        left: 75%;
    }
    .education, .experience{
        width: 100%;
    }
    .resume-me{
        padding: 20px;
        row-gap: 40px;
    }
}