.top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    padding-top: 5%;
    /* font-family: cursive; */
}
.toggle-mode{
    padding: 8px;
    border-radius: 150px;
    box-shadow: 12px 12px -40px #b8b8b8;
}
.icons{
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    cursor: pointer;
}
.menu-icon{
    position: relative;
    display: none;
}
.menu-content h1{
    font-family: 'Segoe Script';
    background: linear-gradient(90deg, #75a4f0, #f790c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.links{
    width: 88%;
    position: absolute;
    z-index: 100;
    background-color: rgba(92, 90, 90, .3);
    padding: 15px 0;
    border-radius: 10px;
    transition: ease 2s;
}
.links ul{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.links ul li a{
    font-family: 'Segoe Print';
    background: linear-gradient(90deg, #75a4f0, #f790c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.close-menu{
    position: absolute;
    right: 20px;
}
.red:hover{
    color: rgb(240, 154, 154);
}
.green:hover{
    color: rgb(115, 214, 115);
}
.blue:hover{
    color: rgb(84, 174, 234);
}
.pink:hover{
    color: rgb(250, 159, 174);
}

.topDark{
    color: white;
}
.topDark .toggle-mode{
}
.topDark .links{
    background-color: rgb(85, 84, 84);
    color: white;
}
.topDark a{
    color: white;
}

 @media (max-width: 1024px) {
    .top-menu{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }  
 }